<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.missionarsbarnsapp.marku.mbtapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity android:name="com.missionarsbarnsapp.marku.mbtapp.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.missionarsbarnsapp.marku.mbtapp.scrollclasses.vad_ar_mbt"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.missionarsbarnsapp.marku.mbtapp.scrollclasses.mbt_2018"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.missionarsbarnsapp.marku.mbtapp.scrollclasses.lekar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
         </activity>

        <activity android:name="com.missionarsbarnsapp.marku.mbtapp.scrollclasses.schema"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.missionarsbarnsapp.marku.mbtapp.scrollclasses.gavor"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.missionarsbarnsapp.marku.mbtapp.lekar.lekar_med_bara_text"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.missionarsbarnsapp.marku.mbtapp.lekar.dod_ko"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>


    </application>

</manifest>